html {
}

body {
  -webkit-font-smoothing: antialiased;
  //  background: linear-gradient(180deg, #f7a600 .01%, #d14d18 100%);
  //  height: 100vh;
  background: #fff;

  &.bg-orange {
    background: url(../img/bg-orange.jpg) no-repeat;
    background-size: cover;
  }

  &.body--fixed {
    overflow: hidden;
  }
}
