@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/subset-PFBeauSansPro-Regular.woff2') format('woff2'),
    url('../fonts/subset-PFBeauSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/subset-PFBeauSansPro-Italic.eot');
  src: url('../fonts/subset-PFBeauSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-PFBeauSansPro-Italic.woff2') format('woff2'),
    url('../fonts/subset-PFBeauSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/subset-PFBeauSansPro-Bold.eot');
  src: url('../fonts/subset-PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-PFBeauSansPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-PFBeauSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bridge Type';
  src: url('../fonts/subset-BridgeType-Regular.woff2') format('woff2'),
    url('../fonts/subset-BridgeType-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
