h1 {
  font-family: $font-family-secondary;
  font-size: 80px;
  line-height: 1.1;

  @include media-breakpoint-down(lgx) {
    font-size: 60px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h2 {
  font-family: $font-family-secondary;
  font-size: 50px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $dark;

  &.h2--big {

    @include media-breakpoint-up(xl) {
      font-size: 80px;
    }
  }

  @include media-breakpoint-down(lgx) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h3 {
  font-family: $font-family-secondary;
  font-size: 40px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $dark;

  @include media-breakpoint-down(lgx) {
    font-size: 30px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}

h4 {
  font-family: $font-family-secondary;
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $dark;
}

h5 {
}

h6 {
}

p {
  font-size: 20px;
  line-height: 1.2;
  color: $dark;

  @include media-breakpoint-down(lgx) {
    font-size: 14px;
  }

  &.p--lg {
    font-size: 24px;
    line-height: 1.5;

    @include media-breakpoint-down(lgx) {
      font-size: 20px;
    }
  }

  &.p--sm {
    font-size: 14px !important;
    line-height: 1.5;
  }

  &.p--xs {
    font-size: 12px !important;
    line-height: 1.5;
  }

  &.p--lh {
    line-height: 1.5;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.text-gradient {
  color: $primary;
  background: linear-gradient(180deg, #4bbdcf 0%, #007a8d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-red {
  color: $primary;
  background: linear-gradient(180deg, #e6224f 0%, #822c53 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}

.bg-pattern {
  background: url(../img/bg-pattern.png) no-repeat center;
  background-size: cover;
}
