mixin search-result(data)
  a.search-result(href="#")&attributes(attributes)
    h3.search-result__number.text-gradient= data.number
    if data.picture
      .search-result__picture(style="background-image: url(./img/" + data.picture + ");")
    .search-result__content
      h4.mb-25= data.title
      p= data.title
