.search-result {
  margin-bottom: 40px;
  display: flex;
  max-width: 970px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__number {
    width: 80px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__picture {
    margin-right: 55px;
    width: 178px;
    height: 178px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__content {
  }
}
