.cover {
  position: relative;
  padding: 60px 0;
  display: flex;
  height: 750px;
  flex-direction: column;
  justify-content: center;
  background-position: left center;
  background-size: cover;

  @include media-breakpoint-down(lgx) {
    background-position: center;
  }

  @include media-breakpoint-down(lg) {
    height: auto;
  }

  &:before {

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba($primary, .4);
    }
  }

  h2 {

    @include media-breakpoint-down(xs) {
      font-size: 50px !important;
    }
  }
}
