mixin cover(data)
  .cover(style="background-image: url(./img/cover.jpg);")&attributes(attributes)
    .container-fluid
      .row
        .col-12.col-lg-6.offset-lg-6
          p.text-white.font-weight-bold.mb-20.mb-md-40 Геннадий Орлов
          h1.text-white.mb-25.mb-md-50 О знаковых местах Санкт-петербурга
          p.text-white Мастер спорта СССР, телекомментатор, заслуженный работник культуры РФ Геннадий Орлов рассказывает о наиболее значимых для себя местах Санкт-Петербурга – города, который в 2020 году примет матчи чемпионата Европы по футболу.
          p.text-white.p--sm.mt-25.mt-md-55.mb-0 Геннадий Орлов представляет книгу "Вертикаль "Зенита": Четверть века петербургской команды" Евгений Асмолов/ФК "Зенит"
