.slider {
  margin: 0 -30px;
  width: calc(100% + 60px);

  @include media-breakpoint-down(xs) {
    margin: 0 -15px;
    width: calc(100% + 30px);
  }

  &__content {
    padding-left: 15px;
    display: flex;

    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }

    &:after {
      display: block;
      width: 15px;
      flex-shrink: 0;
      content: '';

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
    margin: 0 15px;
    display: block;
    overflow: hidden;
    width: 14.4vw;
    height: 14.4vw;
    flex-shrink: 0;
    flex-grow: 0;
    transition: $transition-base;

    @include media-breakpoint-down(lg) {
      width: 23vw;
      height: 23vw;
    }

    @include media-breakpoint-down(xs) {
      width: 60vw;
      height: 60vw;
    }

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 95%;
      height: 95%;
      content: '';
      background: repeating-linear-gradient(-45deg, #fff, #fff 5px, #000 5px, #000 10px);
      transition: $transition-base;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      .slider__item-img {
        transform: scale(.95) translate(-5px, -5px);
      }

      &:after {
        transform: translate(20px, 20px);
      }
    }
  }

  &__item-img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $transition-base;
    object-fit: cover;
  }

  //  .mCSB_container {
  //    margin: 0 -15px;
  //    padding-left: 15px;
  //    display: flex;
  //
  //    @include media-breakpoint-down(xs) {
  //      padding-left: 15px;
  //    }
  //  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    z-index: 2;
    margin-left: 30px;
    width: calc(100% - 60px);
    opacity: 1;

    @include media-breakpoint-down(xs) {
      margin-left: 15px;
      width: calc(100% - 30px);
    }
  }
}
