mixin slider(data)
  .slider&attributes(attributes)
    .slider__content
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/420/300", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/320/258", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/440/340", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/350/450", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/360/360", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/370/300", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/420/300", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/430/330", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/440/340", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/350/450", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/360/360", alt)
      a.slider__item(href="https://www.instagram.com/euro2020spb/")
        img.slider__item-img(src="https://picsum.photos/370/300", alt)
