.promo {
  position: relative;
  padding-top: 124px;
  padding-bottom: 138px;
  background-position: top center;

  @include media-breakpoint-down(lgx) {
    padding-top: 80px;
    padding-bottom: 95px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .62);
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__play {
    margin-bottom: 35px;
    width: 77px;
    height: 77px;
    background: url(../img/play.svg) top center no-repeat;
    background-size: contain;
    transition: $transition-base;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(lgx) {
      margin-bottom: 20px;
      width: 50px;
      height: 50px;
    }
  }

  h2 {
    color: #fff;
  }
}
