.news {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(52, 52, 52, .1);
  transition: $transition-base;

  &:hover {
    box-shadow: 0 8px 25px rgba(52, 52, 52, .31);
  }

  &--no-dscr {
    background: #ffc144;
  }

  &__picture {
    position: relative;
    padding-top: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 4px 50px rgba(52, 52, 52, .31);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, .56) 0%, rgba(0, 0, 0, 0) 47.73%);
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    margin-bottom: 0;
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    color: #fff;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      font-size: 20px;
    }
  }

  &__dscr-wrapper {
    padding: 22px 35px;
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }

  &__dscr-wrapper-text {
    margin: 0;
    color: #333333;
  }
}

.news--divided {

  .news__picture {

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      width: 54%;
      content: '';
      background: linear-gradient(180deg, #f7a600 .01%, #d14d18 100%);
      border-radius: 20px;
      box-shadow: 0 4px 50px rgba(52, 52, 52, .31);

      @include media-breakpoint-only(md) {
        width: 65%;
      }

      @include media-breakpoint-only(sm) {
        width: 65%;
      }
    }
  }

  .news__title {
    width: 50%;
    word-wrap: break-word;

    @include media-breakpoint-only(md) {
      padding: 30px 15px;
      width: 65%;
    }

    @include media-breakpoint-only(xs) {
      padding: 30px 15px;
    }
  }
}

.news--fading {

  .news__picture {

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: url(../img/news-pattern.png) left 50% center no-repeat;
      background-size: cover;
    }
  }
}

.news--gradient {

  .news__picture {

    &:after {
      position: absolute;
      top: -15%;
      left: -22%;
      width: 150%;
      height: 150%;
      content: '';
      background: linear-gradient(87.88deg, rgba(0, 0, 0, .39) 17.19%, rgba(0, 0, 0, 0) 53.68%),
        linear-gradient(180deg, rgba(75, 189, 207, 0) 30.45%, #008ba0 76.09%);
      transform: rotate(-90deg);
    }
  }
}
