mixin news(data)
  a.news(href="#")&attributes(attributes)
    .news__picture(style="background-image: url(./img/" + data.img + ".jpg);")
      h3.news__title!= data.title
    .news__dscr-wrapper
      if data.dscr
        p.news__dscr-wrapper-text!= data.dscr
