/* Bootstrap */

.container-fluid {
  //  max-width: none;
  //  width: 100%;
  padding: 0 50px;

  @include media-breakpoint-down(lg) {
    padding: 0 20px;
  }
}

.row {

  @include media-breakpoint-down(lg) {
    margin-right: -20px;
    margin-left: -20px;
  }
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 260px;
  font-family: $font-family-secondary;
  font-size: 20px;
  border-radius: 10px;

  @include media-breakpoint-down(lgx) {
    //    font-size: 16px;
  }

  @include transition();

  &:hover {
    opacity: .9;
  }
}

.btn.btn-primary {
  color: #fff;
  background: linear-gradient(180deg, #e6224f 0%, #822c53 100%);
  border: none;
}

.btn.btn-outline-primary {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;

  &:hover {
    color: $primary;
    background: #fff;
  }
}

.btn.btn-block {
  max-width: 100%;
}

// slider
.slider .slick-arrow {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 72px;
  height: 72px;
  color: transparent;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.slider .slick-list {
  margin: 0 -15px;
}

.slider .slick-prev {
  position: absolute;
  left: -36px;

  &:after {
    position: absolute;
    top: 31px;
    left: 39px;
    width: 13px;
    height: 13px;
    content: '';
    border: solid #000;
    border-width: 1px 1px 0 0;
    transform: rotate(-135deg);
  }
}

.slider .slick-next {
  position: absolute;
  right: -36px;

  &:after {
    position: absolute;
    top: 31px;
    right: 39px;
    width: 13px;
    height: 13px;
    content: '';
    border: solid #000;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
  }
}

/* Tilda */

*,
:after,
:before {
  box-sizing: border-box !important;
}

.t-records {
  margin-right: -50px !important;
  margin-left: -50px !important;

  @include media-breakpoint-down(lg) {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

.t604__separator {
  padding-top: 72.3684% !important;
}

.t-slds__arrow_wrapper {

  @include media-breakpoint-down(md) {
    width: 1% !important;
  }
}

.t-container {

  *,
  :after,
  :before {
    box-sizing: content-box !important;
  }
}

.instagram-popup {

  @media screen and (max-height: 800px) {
    max-height: 550px;
  }

  @include media-breakpoint-down(md) {
    max-width: calc(100vw - 16px);
    max-height: 300px;
  }

  img {

    @media screen and (max-height: 800px) {
      height: auto;
      min-height: 100%;
    }
  }
}

/* Scrollbar */
.mCSB_buttonLeft,
.mCSB_buttonRight {
  background-image: url(../img/mCSB_buttons.png) !important;
}

.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight,
.mCSB_scrollTools .mCSB_buttonUp {
  opacity: .7;
}

.modal iframe {

  @include media-breakpoint-down(xs) {
    margin: 0 -16px;
    display: block;
    width: calc(100% + 32px);
  }
}

.fix-top__logo {

  @include media-breakpoint-down(sm) {
    margin-right: auto;
  }
  
  img {
    max-height: 70px;
  }
}
