.test {
  padding: 55px 0 70px;
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 600px;
  justify-content: center;
  //  min-height: -webkit-fill-available;
  background: url(../img/blue-pattern.png);

  @media screen and (max-width: 1399px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 55px;
    padding-bottom: 70px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    min-height: 0;
  }

  &__main-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    zoom: normal !important;
    width: 100%;
    max-width: 884px;
    min-height: 600px;
    justify-content: center;
    border: 1px solid $primary;
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
      height: 100%;
      min-height: 0;
      border-radius: 0;
    }
  }

  h3 {

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }

  h4 {

    @include media-breakpoint-down(lgx) {
      font-size: 25px;
    }

    @media screen and (min-width: 1200px) and (max-height: 800px) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
      font-size: 16px;
    }
  }

  &__section {
    display: none;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: #cdebf6;
  }

  &__section-content {
    position: relative;
    z-index: 1;
  }

  &__start {
    position: relative;
    display: block;
    min-height: 870px;

    @media screen and (max-height: 920px) {
      min-height: 630px;
    }

    @include media-breakpoint-down(md) {
      min-height: 630px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 0;
    }

    .test__map {
      background: url(../img/test-map-initial.png) no-repeat bottom left;
      background-size: cover;

      @media screen and (max-height: 900px) {
        background-position: center 250px;
      }

      @include media-breakpoint-down(md) {
        background-position: center 250px;
      }

      @include media-breakpoint-down(sm) {
        background-position: center bottom;
        background-size: 130% auto;
      }
    }

    .btn {
      padding: 8px 21.6px 10px;
      width: auto;
      font-size: 30px;
      line-height: 1;

      @include media-breakpoint-down(sm) {
        padding: 8px 21.6px 10px !important;
        font-size: 24px;
      }
    }
  }

  .btn {

    @include media-breakpoint-down(sm) {
      position: relative;
      z-index: 2;
      padding: 5px 17px;
      display: inline-block;
      width: auto;
    }
  }

  &__start-header {
    margin-top: -20px;
    margin-bottom: 25px;
    font-size: 70px;
    line-height: 1.1;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      font-size: 30px;
    }
  }

  &__start-dscr {
    max-width: 85%;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    color: #008390;

    @include media-breakpoint-down(sm) {
      width: 100% !important;
      max-width: none !important;
      font-size: 15px;
      line-height: 1.1;
      font-weight: 400;
    }
  }

  &__body-wrapper {
    //    display: flex;
    display: none;
    width: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 870px;

    @media screen and (max-height: 920px) {
      min-height: 630px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      min-height: 0;
    }

    &:before {
      position: absolute;
      top: 36px;
      right: 0;
      display: block;
      width: 132px;
      height: 201px;
      content: '';
      background: url(../img/question.svg) no-repeat;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .btn {
      margin-top: 15px;

      @include media-breakpoint-down(sm) {
        margin-top: 9px;
        width: 100%;
        max-width: none;
        font-size: 16px;
        line-height: 28px;
      }
    }

    .test__map {

      @media screen and (min-width: 1200px) and (max-height: 800px) {
        bottom: -90px;
      }

      @include media-breakpoint-down(sm) {
        display: none !important;
      }
    }
  }

  &__wrapper {
    padding: 50px;
    display: flex;
    overflow: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    //    @media screen and (max-height: 1000px) {
    //      padding: 30px;
    //    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
      flex-shrink: 0;
    }
  }

  &__content-top {
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      display: flex;
      //      height: 100%;
      min-height: 100%;
      flex-direction: column;
      flex-shrink: 0;
    }
  }

  &__progress {
    position: absolute;
    z-index: 2;
    top: 35px;
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
    width: 100%;
    height: 21px;
    flex-shrink: 0;
    background: transparent;

    @media screen and (max-height: 1000px) {
      top: 20px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @include media-breakpoint-down(sm) {
      top: 25px;
      padding-right: 20px;
      padding-left: 20px;
      //      margin: 0 -20px;
      //      padding-left: 20px;
    }

    &--final {

      .test__progress {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 40px;
        left: auto;
      }
    }
  }

  &__progress-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -2px;
      display: block;
      width: 100%;
      height: 3px;
      content: '';
      background: #fff;
    }

    @include media-breakpoint-down(sm) {
      overflow: hidden;
      width: 200vw;
    }
  }

  &__progress-item {
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 0;
    color: transparent;
    background: #fff;
    border-radius: 50%;

    .btn {
      display: none;
    }

    &:first-child {
      z-index: 1;
    }

    &--active {
      width: 21px;
      height: 21px;
      font-family: $font-family-secondary;
      font-size: 15px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      background: linear-gradient(180deg, #f7a600 .01%, #d14d18 100%);

      &:before {
        position: absolute;
        top: 50%;
        right: 21px;
        margin-top: -1px;
        display: block;
        width: 100vw;
        height: 1px;
        content: '';
        background: #e57c0c;
      }
    }

    &--answered {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        display: block;
        width: 9px;
        height: 9px;
        content: '';
        background: linear-gradient(180deg, #f7a600 .01%, #d14d18 100%);
        border-radius: 50%;
      }
    }
  }

  &__questions {

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-grow: 1;
    }
  }

  &__item {
    display: none;

    .btn {
      padding: 8px;
      display: none;
      max-width: 200px;
      font-size: 16px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        display: block;
        max-width: none;
        height: 30px;
      }
    }

    &--active {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(sm) {
        //        justify-content: space-between;
      }
    }

    &--answered {

      .btn {
        display: block;
      }

      &:before {

        @include media-breakpoint-down(sm) {
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          content: '';
          background: rgba(#fff, .5);
        }
      }
    }
  }

  &__item-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
  }

  &__item-options {
    margin: 0 -5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__option {
    margin: 0 5px;
    margin-bottom: 10px;
    padding-left: 0;
    display: flex;
    width: calc(50% - 10px);
    height: 40px;
    align-items: center;
    flex-basis: calc(50% - 10px);
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    color: #000;
    background: #fff;
    border-radius: 10px;

    @media screen and (max-width: 1399px) {
      //      width: 49%;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 7px;
      width: 100%;
      height: 30px;
      flex-basis: 100%;
    }

    &--fail {
      padding: 2px;
      background: linear-gradient(180deg, #e6224f 0%, #822c53 100%);

      .test__option-name,
      .test__option-number {
        color: #e6224f;
        background: linear-gradient(180deg, #e6224f 0%, #822c53 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .custom-control-label {
        background: #fff;
        border-color: transparent !important;
      }
    }

    &--success {
      color: #fff;
      background: linear-gradient(180deg, #aecc53 0%, #6eab28 100%);

      .custom-control-label {
        color: #fff !important;
        border: 0 !important;
      }

      .test__option-flag {
        border-color: #fff;
      }
    }

    .custom-control-label {
      padding: 10px;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 10px;
      transition: $transition-base;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
      }

      &:before,
      &:after {
        display: none;
      }
    }

    .custom-control-input:checked + .custom-control-label {
      border-color: #000;
    }
  }

  &__option-number {
    font-size: 12px;
    font-weight: 700;
  }

  &__option-flag {
    margin: 0 8px 0 6px;
    margin-bottom: 1px;
    border: 1px solid #000;
    border-radius: 50%;
  }

  &__option-name {
  }

  &__answer {
    position: relative;
    padding: 25px 30px;
    font-size: 20px;
    line-height: 150%;
    color: #333;
    background: #fff;

    @include media-breakpoint-down(lgx) {
      padding: 20px;
      font-size: 14px;
      line-height: 1.3;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      z-index: 1;
      top: 55px;
      left: 20px;
      padding-top: 37px;
      width: calc(100% - 40px);
      box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
      //      display: none;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 9px;
      content: '';

      @include media-breakpoint-down(sm) {
        height: 25px;
      }
    }

    &--fail {

      &:before {
        background: linear-gradient(269.23deg, #e6224f 0%, #822c53 100%);
      }

      .test__answer-header {
        color: #e6224f;
      }
    }

    &--success {

      &:before {
        background: linear-gradient(180deg, #aecc53 0%, #6eab28 100%);
      }

      .test__answer-header {
        color: #aecc53;
      }
    }
  }

  &__answer-close {
    display: none;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 8px;
      right: 10px;
      display: block;
      width: 8.5px;
      height: 8.5px;
      background: url(../img/close-white.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer-header {
  }

  &__final {
    position: relative;
    display: flex !important;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    background: rgba(#2fb8c7, .8);

    @include media-breakpoint-down(sm) {
      overflow: auto;
    }

    .test__wrapper {
      margin: 0 auto;
      padding-top: 30px;
      width: 100%;
      max-width: 600px;
      height: auto;
      flex-grow: 1;
    }

    h4 {

      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
  }

  &__share {
    position: relative;
    z-index: 1;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__share-header {
    margin-right: 20px;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.1;
    }
  }

  &__card {
    position: relative;
    padding: 35px 30px 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    background: #fff;

    //    @media screen and (max-height: 800px) {
    //      padding: 20px;
    //    }

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }

    &:before {
      position: absolute;
      top: -30px;
      left: 50%;
      display: block;
      width: 152px;
      height: 64px;
      content: '';
      background: url(../img/ticket.svg) no-repeat center;
      background-size: contain;
      transform: translateX(-50%);
    }
  }

  &__card-picture {
    max-width: 100%;
  }

  &__card-content {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__card-points {
    margin-right: 30px;
    font-family: $font-family-secondary;
    font-size: 70px;
    line-height: 1.1;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__card-dscr {
    margin-top: 18px;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: $primary;

    @include media-breakpoint-down(lgx) {
      font-size: 18px;
    }
  }

  &__final-footer {
    position: relative;
    //    margin-top: 20px;
    //    padding-bottom: 20px;

    @include media-breakpoint-down(lgx) {
      //      margin-top: 60px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }

    &:before {
      position: absolute;
      bottom: 100%;
      left: 0;
      display: block;
      width: 100%;
      height: 164px;
      content: '';
      background: url(../img/final-ribbon.svg) no-repeat;
      background-size: contain;

      @include media-breakpoint-down(md) {
        bottom: 90%;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__final-footer-content {
    margin: 0 auto;
    width: 620px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      width: auto;
    }
  }

  &__map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 567px;
    background: url(../img/map.png) no-repeat left bottom;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      background-position: bottom 28vh left;
      background-size: 120% auto;
    }

    &--answered {

      .test__map-item {
        display: none;
      }
    }
  }

  &__map-item {
    position: absolute;
    padding: 4px 5px 9px;
    display: inline-flex;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: rgba(#000, .3);
    border-radius: 3px;

    @media screen and (min-width: 1200px) and (max-height: 800px) {
      font-size: 12px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:after {
      position: absolute;
      top: 25px;
      left: 0;
      display: block;
      width: 100%;
      height: 15px;
      content: '';
      background: url(../img/ribbon.svg) no-repeat;
      background-size: auto 100%;

      @media screen and (min-width: 1200px) and (max-height: 800px) {
        top: 20px;
      }
    }
  }

  &__item-mobile-map {
    display: none;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      display: block;
      width: 100%;
    }
  }

  &__close {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/close-white.svg) no-repeat center;
    background-size: 20px;

    @include transition;

    @include media-breakpoint-down(md) {
      width: 20px;
      height: 20px;
      background: url(../img/close.svg) no-repeat center;
      background-size: 10px;
    }

    &:hover {
      opacity: .75;
    }
  }

  &--final {
    align-items: center;

    //    @media screen and (max-height: 920px) {
    //      align-items: stretch;
    //    }
    //
    //    @media screen and (min-width: 768px) and (max-height: 725px) {
    //      padding: 20px 0;
    //    }
  }
}
