mixin test(data)
  .test&attributes(attributes)
    a.test__close(href="index.html")
    .test__main-wrapper
      .test__start.test__section
        .test__wrapper
          .test__section-content
            h2.test__start-header.text-gradient-red ГЕОТЕСТ UEFA ЕВРО 2020
            p.p--lh.mb-30.test__start-dscr Летом 2020 года нас ждет уникальный розыгрыш Чемпионата Европы, посвященный 60-летию проведения первого турнира. «ЕВРО для всей Европы» станет самым масштабным в истории и пройдет одновременно в 12 городах Старого Света. Пройди наш тест по городам, которые примут турнир, и получи возможность выиграть билет на матчи ЕВРО в Санкт-Петербурге. Поехали!
            a.btn.btn-primary.js-test-start(href="#") Пройти тест
          .test__map
      .test__body-wrapper
        .test__progress
          .test__progress-wrapper
            - var n = 1
            while n < 11
              .test__progress-item(class=n==4 ? 'test__progress-item--active': '' class=n<4 ? 'test__progress-item--answered': '')= n++
        .test__content.test__section
          .test__map.test__map--answered
            .test__map-item(style="left: 12%; top: 69%;") Испания
            .test__map-item(style="left: 36%; top: 58%;") Германия 
            .test__map-item(style="left: 58%; top: 53%;") Санкт-Петербург
            .test__map-item(style="left: 38%; top: 67%;") Рим
          .test__wrapper
            .test__content-top
              form.test__questions(action="#", method="GET")
                .test__item.test__item--active
                  h4.text-primary.my-25 ПРИЗ ЗОЛОТАЯ УРНА ЕЖЕГОДНО ВРУЧАЮТ ФУТБОЛИСТУ, КОТОРЫЙ НЕ ОПРАВДАЛ ОЖИДАНИЯ. В КАКОЙ СТРАНЕ ТАК ДЕЛАЮТ?
                  .test__item-controls
                    img.test__item-mobile-map(src="./img/map-default.jpg", alt)
                    .test__item-options
                      .custom-control.custom-radio.test__option
                        input#option1.custom-control-input(type='radio', name='options')
                        label.custom-control-label(for='option1') 
                          span.test__option-number 1
                          img.test__option-flag(src="./img/spain.svg") 
                          span.test__option-name Испания
                      .custom-control.custom-radio.test__option.test__option--fail
                        input#option2.custom-control-input(type='radio', name='options')
                        label.custom-control-label(for='option2') 
                          span.test__option-number 2
                          img.test__option-flag(src="./img/germany.svg") 
                          span.test__option-name Германия
                      .custom-control.custom-radio.test__option
                        input#option3.custom-control-input(type='radio', name='options')
                        label.custom-control-label(for='option3') 
                          span.test__option-number 3
                          img.test__option-flag(src="./img/russia.svg") 
                          span.test__option-name "Альян Арена" Мюнхен
                      .custom-control.custom-radio.test__option.test__option--success
                        input#option4.custom-control-input(type='radio', name='options')
                        label.custom-control-label(for='option4') 
                          span.test__option-number 4
                          img.test__option-flag(src="./img/italy.svg") 
                          span.test__option-name Рим
                      a.btn.btn-primary.js-test-final(href="#") Следующий вопрос
            //.test__answer.test__answer--fail 
              span.test__answer-header Италия. 
              | Ироничную награду учредила радиостанция Rai Radio 2 Это своеобразная пародия на «Золотой мяч». Эта «награда» в разное время доставалась таким известным футболистам как Кристиан Вьери, Диего Милито, Рикардо Куарежма и Алешандре Пато.
