
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front-slider/front-slider.pug
include ../blocks/promo/promo.pug
include ../blocks/news/news.pug
include ../blocks/card/card.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/input/input.pug
include ../blocks/instagram/instagram.pug
include ../blocks/slider/slider.pug
include ../blocks/form/form.pug
include ../blocks/main/main.pug
include ../blocks/cards-list/cards-list.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/cover/cover.pug
include ../blocks/article/article.pug
include ../blocks/quote/quote.pug
include ../blocks/section/section.pug
include ../blocks/intro/intro.pug
include ../blocks/illustration/illustration.pug
include ../blocks/address/address.pug
include ../blocks/map/map.pug
include ../blocks/figure/figure.pug
include ../blocks/comment/comment.pug
include ../blocks/test/test.pug
include ../blocks/search/search.pug
include ../blocks/search-result/search-result.pug
include ../blocks/inst-manual/inst-manual.pug