.breadcrumbs {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;

  a {
    color: #009cb4;
    transition: all .3s ease;

    &:hover {
      color: #333333;
    }
  }

  &__item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333333;

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      margin-left: 18px;
      display: block;
      width: 5px;
      height: 9px;
      content: '';
      background: transparent url(../img/breadcrumb-arrow.svg) 0 0 no-repeat;
    }
  }
}
