mixin breadcrumbs(data)
  .breadcrumbs&attributes(attributes)
    a.breadcrumbs__item(href="#") UEFA EURO
    a.breadcrumbs__item(href="#") События
    span.breadcrumbs__item О знаковых местах Санкт-петербурга
