.input {
  padding: 24px 0;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border: solid #fff;
  border-width: 0 0 1px;
  border-radius: 0;

  &::placeholder {
    color: #87c4ce;
  }

  &:focus {
    color: #fff;
    background: transparent;
  }
}
