.instagram {
  margin: 0 -20px 30px;
  background: url(../img/blue-pattern.png) no-repeat;
  background-size: cover;
  border-radius: 20px;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
    margin-left: 0;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &__container {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;

    @include media-breakpoint-down(lgx) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 15px;
    }
  }

  .text-primary {
    margin: 0;
    color: #009cb4 !important;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  .btn.btn-primary {
    width: 280px;
    background: linear-gradient(180deg, #e6224f 0%, #822c53 100%);
    border: 0 none;
    border-radius: 10px;

    @include media-breakpoint-down(sm) {
      padding: 5px;
      width: auto;
      font-size: 14px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__link {
    margin-right: 37px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #fff;

    @include transition;

    &:hover {
      color: $secondary;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 14px;
    }

    &:before {
      margin-right: 12px;
      display: block;
      width: 40px;
      height: 40px;
      content: '';
      background: transparent url(../img/instagram-icon.svg) 0 0 no-repeat;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        margin-right: 5px;
        width: 17px;
        height: 17px;
        background-size: contain;
      }
    }
  }
}
