mixin instagram(data)
  .instagram&attributes(attributes)
    .instagram__container
        .instagram__header.mb-40
          a.instagram__link(href="https://www.instagram.com/euro2020spb/") euro2020
          .instagram__header-right
            a.btn.btn-primary(href="https://www.instagram.com/euro2020spb/") Подписаться
        +slider
