.subscribe {
  display: flex;

  &__form {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1349px) {
      flex-direction: column;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__input {
    margin-right: 20px;
    width: 250px;
    flex-shrink: 0;

    @media screen and (max-width: 1349px) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__btn {
    padding-right: 30px;
    padding-left: 30px;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 18px;
    }
  }
}
