mixin subscribe(data)
  .subscribe&attributes(attributes)
    form.form.subscribe__form(action="#", method="POST")
      input.input.subscribe__input.form-control(type="email", placeholder="Введите Ваш e-mail")
      button.btn.btn-primary.btn-block.subscribe__btn(type="submit") Подписаться на новости
