.address {
  position: relative;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: 50px 0;
    display: block;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

  h3 {
    font-size: 40px;
  }

  &__link {
    font-size: 20px;
    color: #f7a600;
    transition: all .3s ease;
  }

  &__content {
    width: 36%;

    @include media-breakpoint-only(lg) {
      width: 30%;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }

  &__map {
    position: relative;
    width: 64%;

    @include media-breakpoint-only(lg) {
      width: 70%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
