mixin address(data)
  .address&attributes(attributes)
    .address__content
      h3.text-gradient.mb-20.mb-md-50 Адрес
      p.text-gradient.font-weight-bold г. Павловск<br> ул. Садовая, д.20
      a.address__link(href="#") Карта
    .address__map
      +map
