.cards-list {
  z-index: 1;
  padding-top: 50px;
  padding-left: 30px;

  @include media-breakpoint-down(lg) {
    padding-top: 35px;
    padding-left: 20px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  &__wrapper {
    margin: 0 -12.5px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @include media-breakpoint-down(lg) {
      margin: 0 -20px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
      width: 100%;
    }
  }
}
