.section {

  &__edgy {
    position: relative;

    &--left {
      margin-left: -50px;
      width: calc(100% + 50px);

      @include media-breakpoint-down(lg) {
        margin-left: -25px;
        width: calc(100% + 25px);
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
      }
    }

    &--right {
      margin-right: -50px;
      width: calc(100% + 50px);

      @include media-breakpoint-down(lg) {
        margin-right: -25px;
        width: calc(100% + 25px);
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &__inner-caption {
    position: absolute;
    bottom: 45px;
    left: 47px;
    margin: 0;
    max-width: 467px;

    @include media-breakpoint-down(sm) {
      bottom: auto;
      left: auto;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
  }

  &--bordered {
    margin: 0 -50px;
    width: calc(100% + 100px);
    box-shadow: 0 1px 0 0 #4bbdcf inset, 0 -1px 0 0 #4bbdcf inset;

    @include media-breakpoint-down(lg) {
      margin: 0 -25px;
      width: calc(100% + 50px);
    }

    @include media-breakpoint-down(md) {
      margin: 0;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .section__edgy {
      display: flex;
      align-items: center;
    }
  }

  &__bordered-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__row {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      flex-direction: column;
      justify-content: flex-start;
    }

    .img-fluid {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__left {
    margin-right: 25px;
    width: 550px;

    @include media-breakpoint-down(sm) {
      margin: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__right {
    margin-left: 25px;
    width: 550px;

    @include media-breakpoint-down(sm) {
      margin: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  // &__commented {
  //   display: flex;

  //   @include media-breakpoint-down(sm) {
  //     flex-direction: column;
  //   }
  // }

  &__picture {
    width: 100%;
    height: 632px;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(lg) {
      width: 100%;
      height: 400px;
    }
  }

  &__picture-text {
    padding-top: 160px;
    padding-left: 90px;
    box-sizing: content-box !important;
    max-width: 300px;

    @include media-breakpoint-down(lg) {
      padding-top: 85px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }

  &__hr {
    margin-top: 67px;
    margin-bottom: 67px;
    height: 1px;
    box-shadow: 0 1px 0 0 #4bbdcf inset;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;

    @include media-breakpoint-down(lgx) {
      font-size: 18px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }
}
