.front-slider {
  position: sticky;
  top: 175px;
  margin-bottom: 30px;

  @include media-breakpoint-down(lg) {
    top: 160px;
  }

  @include media-breakpoint-down(md) {
    position: static;
    margin-right: -60px;
    margin-left: -30px;
    padding-left: 20px;
    display: flex;
    overflow: auto;
    width: calc(100% + 50px);
  }

  .slick-dots {
    position: absolute;
    bottom: 45px;
    left: 38px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;

    li {
      margin-right: 6px;

      &:last-of-type {
        margin-right: 0;
      }

      &.slick-active,
      &:hover {

        button {
          color: #ffffff;
          background: linear-gradient(180deg, #f7a600 .01%, #d14d18 100%);
        }
      }
    }

    button {
      display: flex;
      width: 26px;
      height: 26px;
      justify-content: center;
      align-items: center;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      line-height: 26px;
      color: #000000;
      background: #ffffff;
      border-radius: 50%;
      transition: all .3s ease;
    }
  }

  &__content {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 30px 40px;
    width: 78%;

    @include media-breakpoint-down(md) {
      padding: 20px;
      width: auto;
    }
  }

  &__dscr {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 22px;
    font-size: 79px;
    color: #ffffff;

    @include media-breakpoint-down(lgx) {
      font-size: 60px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__item {
    position: relative;
    height: calc(100vh - 200px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;

    @include media-breakpoint-down(lg) {
      height: calc(100vh - 180px);
    }

    @include media-breakpoint-down(md) {
      margin: 0 10px;
      width: 100%;
      max-width: 340px;
      height: 426px;
      flex-shrink: 0;
    }

    @include media-breakpoint-down(sm) {
      max-width: 80vw;
      height: 320px;
    }
  }

  &__bg {
    width: 100%;
    height: auto;
  }

  &__img {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 0;
    width: auto;
    max-height: 70vh;

    @include media-breakpoint-down(md) {
      max-width: 70%;
      max-height: 70%;
    }
  }
}
