mixin front-slider(data)
  .front-slider&attributes(attributes)
    a.front-slider__item(href="#", style="background-image: url(./img/front-slider-2.jpg);")
      .front-slider__content
        h2.front-slider__title Будущее уже здесь
        p.front-slider__dscr Сборной России из лета 2018 больше нет, но это не проблема
    a.front-slider__item(href="#", style="background-image: url(./img/front-slider-1.jpg);")
      .front-slider__content
        h2.front-slider__title Будущее уже здесь
        p.front-slider__dscr Сборной России из лета 2018 больше нет, но это не проблема
    a.front-slider__item(href="#", style="background-image: url(./img/front-slider-2.jpg);")
      .front-slider__content
        h2.front-slider__title Будущее уже здесь
        p.front-slider__dscr Сборной России из лета 2018 больше нет, но это не проблема
