mixin socials(data)
  .socials&attributes(attributes)
    if data && data.modifier == 'socials--test'
      a.socials__item(href="#inst-manual", data-fancybox, style="background-image: url(./img/ig--white.svg);")
      a.socials__item(href="#", style="background-image: url(./img/tw--white.svg);")
      a.socials__item(href="#", style="background-image: url(./img/fb--white.svg);")
      a.socials__item(href="#", style="background-image: url(./img/vk--white.svg);")
    else
      a.socials__item(href="#", style="background-image: url(./img/tw.svg);")
      a.socials__item(href="#", style="background-image: url(./img/fb.svg);")
      a.socials__item(href="#", style="background-image: url(./img/ig.svg);")
      a.socials__item(href="#", style="background-image: url(./img/vk.svg);")
