.socials {
  //  margin-top: 10px;
  //  margin-bottom: 31px;
  display: flex;

  @include media-breakpoint-down(lgx) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(md) {
    justify-content: space-around;
  }

  &__item {
    margin-right: 15px;
    display: block;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;

    @include transition();

    @include media-breakpoint-down(lgx) {
      width: 40px;
      height: 40px;
      background-size: auto 40%;
    }

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--sm {
    margin-top: 0;
    margin-bottom: 0;

    .socials__item {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      background-size: contain;
      border: 0;
      border-radius: 0;

      @include media-breakpoint-down(lgx) {
        background-size: contain;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
