.figure {
  padding: 20px 0;
  display: block;

  p {
    color: #333333;
  }

  &__picture {
    padding-top: 68.11%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__author {
    font-size: 12px;
    color: #828282;
  }
}
