.main {
  margin: 0 -20px;
  display: flex;

  @include media-breakpoint-down(lg) {
    margin: 0;
  }

  @include media-breakpoint-down(md) {
    margin: 0;
    display: block;
  }

  &__slider {
    position: relative;
    padding-top: 40px;
    width: 100%;
    max-width: 40%;

    @include media-breakpoint-down(lg) {
      padding-top: 20px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 30px;
      max-width: inherit;
    }
  }

  &__cards {
    width: 100%;
    max-width: 60%;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      max-width: 100%;
    }
  }

  //  &__promo,
  //  &__instagram {
  //    position: fixed;
  //    z-index: -1;
  //    bottom: 0;
  //    left: 0;
  //    width: 100%;
  //    opacity: 0;
  //    transition: opacity .3s ease-out;
  //
  //    &.active {
  //      z-index: 201;
  //      opacity: 1;
  //    }
  //  }
}
