.search {

  &__btn {
    position: relative;
    z-index: 1;
    margin-left: 40px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/zoom--white.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      margin-left: 0;
    }
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    //    height: 100vh;
    //    overflow: auto;
    //    background: #fff;
  }

  &__form {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-left: 250px;
    display: flex;
    width: 100%;
    align-items: center;
    background: #fff url(../img/bridge.svg) no-repeat bottom left;

    @include media-breakpoint-down(lg) {
      background: #fff;
      border-bottom: 2px solid #b9d160;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 100px;
    }
  }

  &__form-btn {
    width: 18.21px;
    height: 18.21px;
    flex-shrink: 0;
    background: url(../img/zoom.svg) no-repeat;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__input {
    margin-left: 43px;
    width: 100%;
    max-width: 780px;
    height: 40px;
    font-size: 16px;
    color: #333;
    background: transparent;
    border: 0;

    @include placeholder(#828282);

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      font-size: 12px;
    }
  }

  &__results {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 175px;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background: #fff;

    @include media-breakpoint-down(lg) {
      padding-top: 180px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 100px;
    }

    &--active {
      display: block;
    }
  }

  &--active {

    .search__btn {
      background: url(../img/close.svg) no-repeat center;
      background-size: 16px;

      @include media-breakpoint-down(sm) {
        position: relative;
        right: -35px;
        margin-right: 0;
      }
    }

    .search__content {
      display: block;

      //      @include media-breakpoint-down(lg) {
      //        overflow: auto;
      //        height: 100vh;
      //      }
    }
  }
}
