mixin search(data)
  .search&attributes(attributes)
    a.search__btn(href="#")
    .search__content
      form.search__form(action="#", method="GET")
        button.search__form-btn(type="submit")
        input.search__input(type="text", placeholder="Введите слово или фразу для поиска")
      .search__results
        .container-fluid
          .row
            .col-12
              h3.text-gradient.mb-20.mb-sm-40 Результаты поиска
              +search-result({
                number: '1',
                picture: 'search-1.jpg',
                title: 'Заголовок для события или материала в одну или две строки три строки',
                dscr: 'Краткое описание материала также в несколько строк длянаглядности и оповещения с троеточием...'
              })
              +search-result({
                number: '2',
                picture: 'search-1.jpg',
                title: 'Заголовок для события или материала в одну или две строки три строки',
                dscr: 'Краткое описание материала также в несколько строк длянаглядности и оповещения с троеточием...'
              })
              +search-result({
                number: '3',
                title: 'Заголовок для события или материала в одну или две строки три строки',
                dscr: 'Краткое описание материала также в несколько строк длянаглядности и оповещения с троеточием...'
              })
