mixin footer(data)
  .footer&attributes(attributes)
    .container-fluid
      .row
        //.d-none.d-lg-block.col-lg-2.col-lgx-3.offset-xl-1.pt-5
          +logo
        .col-xl-3.col-lgx-2.col-lg-3.col-md-4.col-sm-6
          h4.text-white.mb-20 Турнир
          ul.footer__list
            li
              a(href="#") Как стать волонтёром
            li
              a(href="#") Расписание матчей 
            li
              a(href="#") Стадионы
            li
              a(href="#") Главные события
            li
              a(href="#") Вопросы и ответы
        .col-xl-3.col-lgx-2.col-lg-3.col-md-4.col-sm-6
          h4.text-white.mb-20 Организация
          ul.footer__list
            li
              a(href="#") Техническая документация
            li
              a(href="#") Пресс-релизы
            li
              a(href="#") Контакты
        .col-xl-6.col-lgx-8.col-lg-6.col-md-4.footer__right
          .footer__wrap
            +subscribe.footer__subscribe
            +socials.footer__socials
