.footer {
  padding-top: 80px;
  padding-bottom: 400px;
  background: url(../img/footer-bg.png) center bottom no-repeat;
  background-size: cover;

  @include media-breakpoint-down(lgx) {
    padding-top: 40px;
    padding-bottom: 300px;
  }

  @media screen and (max-width: 1399px) {
    padding-bottom: 250px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
    background-color: $primary;
    background-image: none;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  &__right {
    margin-left: auto;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }

    @include media-breakpoint-down(md) {
      padding-right: 15px;
    }
  }

  &__wrap {
    display: flex;

    @media screen and (max-width: 1349px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
      width: 100%;
      align-items: stretch;
    }
  }

  &__subscribe {
    margin-right: 50px;

    @media screen and (max-width: 1349px) {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__socials {

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }

    a {
      font-size: 20px;
      line-height: 47px;
      color: #fff;
      transition: $transition-base;

      @include media-breakpoint-down(lgx) {
        font-size: 16px;
        line-height: 2;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 2;
      }

      &:hover {
        color: $secondary;
      }
    }
  }
}
