.card {
  z-index: 1;
  margin: 0 12.5px 30px;
  padding: 31px 34px;
  display: flex;
  width: 100%;
  min-height: 230px;
  align-items: flex-end;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom left;
  //  background-size: 100%;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 50px rgba(52, 52, 52, .31);

  @include transition();

  @include media-breakpoint-down(md) {
    margin-left: 0;
    padding: 30px;
    height: 174px;
    min-height: 174px;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(52, 52, 52, .31);
  }

  &--right-bottom {
    padding-right: 34px;
    padding-bottom: 34px;
    justify-content: flex-end;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    .card__content {
      max-width: 200px;

      @include media-breakpoint-down(md) {
        max-width: 165px;
        text-align: right;
      }
    }

    .card__title {
      max-width: unset;
    }
  }

  &--purple {
    padding: 25px;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    .card__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: stretch;
    }

    .card__img {
      margin-left: 20px;
      width: 131px;
      max-width: calc(49% - 20px);
      height: auto;
      flex-shrink: 1;
      align-self: flex-end;
      //      width: 131px;
      //      height: 150px;

      //      @include media-breakpoint-down(lg) {
      //        display: none;
      //      }

      @include media-breakpoint-only(md) {
        width: 30%;
        height: auto;
      }

      @include media-breakpoint-down(sm) {
        width: auto;
        height: 100%;
      }
    }

    .card__title {
      position: relative;
      top: 6px;
      margin: 0;
      max-width: unset;
    }
  }

  &--subscribe {
    padding: 25px 28px 32px 27px;
    flex-direction: column;
    justify-content: space-between;

    .card__title {
      max-width: unset;
    }
  }

  &--wide {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border-radius: 25px;

    @include media-breakpoint-only(md) {
      height: 195px;
      min-height: 195px;
    }

    .card__title {
      max-width: 260px;
    }

    .card__content {
      //      padding-right: 77px;
      //      padding-left: 72px;
      padding: 40px;
      display: flex;
      width: 100%;
      max-width: 405px;
      //      max-width: calc(100%/12*7 - 200px);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      @include media-breakpoint-down(md) {
        max-width: 34.6%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 50%;
      }

      @include media-breakpoint-down(xs) {
        max-width: 80%;
      }
    }
  }

  &--video {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__play {
    width: 51px;
    height: 51px;
    background: url('../img/play.svg') no-repeat center transparent;
    background-size: 100%;
  }

  &__content {
  }

  &__title {
    margin-bottom: 0;
    max-width: 146px;
    font-size: 30px;
    line-height: 100%;
    color: $white;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__dscr {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: $white;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__btn {
    margin-top: 20px;
    max-width: 100%;
  }

  &--xs {
    //    min-width: 300px;
    padding: 20px;
    width: calc(100% / 12 * 4 - 50px);

    @include media-breakpoint-only(md) {
      width: 30%;
      min-width: 30%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      min-width: 100%;
      max-width: unset;
    }

    .card__content {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .card__title {
      //      max-width: 50%;
      max-width: none;
      text-align: right;

      br {

        @include media-breakpoint-down(lgx) {
          display: none;
        }
      }
    }
  }

  &--long-text {

    .card__content {
      justify-content: flex-start;
    }

    .card__title {
      max-width: 100%;
      text-align: left;
    }
  }

  &--sm {
    //    min-width: 380px;
    padding: 20px;
    width: calc(100% / 12 * 5 - 50px);
    justify-content: flex-end;
    align-items: flex-start;

    @include media-breakpoint-only(md) {
      width: 30%;
      min-width: 30%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      min-width: 100%;
    }

    .card__title {
      max-width: none;
    }
  }

  &--md {
    padding: 20px;
    width: calc(100% / 12 * 7 - 75px);

    @include media-breakpoint-only(md) {
      width: 60%;
      min-width: 60%;
      max-width: 60%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      min-width: 100%;
      max-width: unset;
    }
  }

  &--lg {

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &--tall {
    padding: 25px;
    //    min-width: 380px;
    height: 280px;

    @include media-breakpoint-down(md) {
      min-width: 0;
      height: auto;
    }

    .card__play {
      width: 62px;
      height: 62px;
    }

    .card__img {
      width: 160px;
    }
  }

  &--half {
    width: calc(100% / 12 * 6 - 25px);
    min-width: 350px;

    @include media-breakpoint-down(sm) {
      width: 100%;
      min-width: 0;
    }
  }

  &--quote {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;

    .card__content {
      max-width: 60%;

      @include media-breakpoint-down(lgx) {
        max-width: none;
      }
    }

    .card__title {
      max-width: none;
    }

    .card__dscr {
      margin-top: 25px;
      font-size: 20px;
      font-weight: 700;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  &--right-top {
    justify-content: flex-end;
    align-items: flex-start;

    .card__title {
      max-width: none;
    }
  }
}
