mixin card(data)
  a.card(class=typeof modifier ? data.modifier : "", href="#", style="background-image: url(./img/" + data.bg + ");")&attributes(attributes)
    if !data.modifier
      .card__content
        h4.card__title!= data.title
        if data.dscr
          p.card__dscr!= data.dscr
          
    if data.modifier
      for modifier in data.modifier
      
        if modifier == 'card--video'
          .card__content
            .card__play
            h4.card__title!= data.title
            
        if modifier == 'card--img'
          img.card__img(src="./img/" + data.img, alt)
          
      if data.modifier == 'card--subscribe'
        h4.card__title!= data.title
        span.card__btn.btn.btn-primary Подписаться
        
      if data.modifier == 'card--wide'
        //- .card__picture(style="background-image: url(./img/" + data.bg + ');')
        .card__content(style="background-image: url(./img/" + data.img + ');')
          h4.card__title!= data.title
