﻿extends ../templates/template.pug
block content
  .article
    .container-fluid.js-header-container
      +header({
        modifier: ''
      }).header--full
    .container-fluid
      +breadcrumbs
    +cover.mb-70
    .container-fluid
      .row
        .col-lgx-8.mx-auto.mb-20.mb-md-65.mb-xl-90
          +intro
      .section
        .row
          .col-md-6.col-lg-5
            .section__edgy.section__edgy--left
              img.img-fluid(src="./img/article-1.jpg", alt)
              p.p--xs.text-right.mt-20.mt-md-40.mb-20.mb-sm-35 Стадион имени Кирова, ныне – "Санкт-Петербург" <br>Антон Ваганов/ТАСС
          .col-md-6.col-lg-6.col-lgx-5.col-xl-4
            .pl-lg-60.pt-xl-30
              p Что же касается моего любимого города, то в 1966 году я приехал сюда играть за "Зенит". И остался. И, конечно же, здесь есть важные для меня места. Во-первых, Крестовский остров. Когда я приехал в "Зенит", сперва проживал в Удельном парке. Сейчас на этом месте база "Зенита", она преобразилась.
              p Тогда поле было даже не огорожено: мы тренировались, а через него люди ходили. Я бы выделил и стадион имени Ленина (ныне – "Петровский"), и стадион имени Кирова (ныне – "Санкт-Петербург"), сказал бы о Манежной площади, о Доме Радио на Итальянской.
              p Но давайте обо всем по порядку. Сперва – о месте, которое уже долгие годы вызывает у меня восторг, и это никак не связано с работой.
      .section.section--bordered.mb-30.mb-md-60.mb-lg-80
        .row
          .d-flex.align-items-center.col-md-6.col-lg-6.col-xl-4.offset-xl-1.section__bordered-content
            .pl-lg-60
              h2.h2--big.text-gradient.mb-xl-50.mb-md-20.text-center.text-md-left ПАВЛОВСК И ПАВЛОВСКИЙ ДВОРЕЦ
              p.p--lg Это классика, это замечательно. Какая же красота этот Павловский дворец! Я часто там бывал во времена Советского Союза. Ленинград в те годы был очень серым городом, за старыми домами никто не следил, и было приятно выбраться в Павловск. Ленинград в те годы был очень серым городом, за старыми домами никто не следил, и было приятно
          .col-md-6.col-lg-6.offset-xl-1.d-flex.align-items-center
            .position-relative
              img.img-fluid(src="./img/article-2.jpg", alt)
              p.p--sm.text-white.section__inner-caption Павильон-ротонда "Храм Дружбы" на территории Государственного музея-заповедника "Павловск" Алексей Даничев/Sputnik 
      .section
        .row.mb-20.mb-md-60
          .col-md-6.offset-lg-1.col-lgx-5.offset-lgx-2.col-xl-5.offset-xl-2
            p.p--lh Это классика, это замечательно. Какая же красота этот Павловский дворец! Я часто там бывал во времена Советского Союза. Ленинград в те годы был очень серым городом, за старыми домами никто не следил, и было приятно выбраться в Павловск.
        .section__commented.mb-20.mb-md-60
          .row
            .col-md-6.offset-lg-1.col-lgx-5.offset-lgx-2.col-xl-5.offset-xl-2
              img.img-fluid(src="./img/article-3.jpg", alt)
            .col-md-5
              .section__comment.d-none.d-md-block
                h3.text-gradient.text-center.text-md-left.mb-20.mb-sm-35.mt-20.mt-md-0 Самое любимое место
                +comment({
                  text: 'Сейчас и Петербург необыкновенно красив, а Павловск был красив всегда'
                })
        .row.mb-20.mb-md-60
          .col-md-6.offset-lg-1.col-lgx-5.offset-lgx-2.col-xl-5.offset-xl-2
            p.p--lh Павловский дворец. Я там был больше тридцати раз. Я же еще и историк по образованию, окончил исторический факультет: учился на журналиста, но переводился. Павла I раньше преподносили как не очень далекого человека. Но когда в Павловском дворце я увидел библиотеку, которая принадлежала Марии Федоровне, супруге Павла, и все, что выставлено в этой библиотеке, и дом, который был построен по их чертежам, был впечатлен.
    .bg-light.py-20.py-xl-30
      .container-fluid
        .row
          .col-sm-4
            +figure({
              img: 'figure-1.jpg',
              caption: 'Памятник Павлу I перед Большим дворцом в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-2.jpg',
              caption: 'Павильон-ротонда "Храм Дружбы" на территории Государственного музея-заповедника "Павловск"',
              author: 'Алексей Даничев/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-3.jpg',
              caption: 'Жилые комнаты Большого дворца в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
    .container-fluid
      .row
        .col-lgx-10.mx-auto
          +address
      .section.section--bordered.mb-30.mb-md-60.mb-lg-80
        .row
          .col-md-6.d-flex
            img.img-fluid(src="./img/article-4.jpg", alt)
          .col-md-6.col-lg-4.offset-lg-1.d-flex.align-items-center.section__bordered-content
            .row
              .col-lgx-10.offset-lgx-2
                h2.h2--big.text-gradient.text-center.text-md-left ПАВЛОВСК И ПАВЛОВСКИЙ ДВОРЕЦ
                p.p--sm.mt-40.mt-lg-100.pt-lg-20.text-right.text-md-left Общий вид стадиона сегодня <br>Alexander Hassenstein/Bongarts/Getty Images
      .section
        .row
          .col-lgx-8.mx-auto
            .row.mb-20.mb-md-50
              .col-sm-3
                h3.text-gradient Прежний Cтадион –
              .col-sm-9
                p.p--lh очень красивый, в свое время это была одна из самых больших арен в мире, но для болельщиков очень неудобный: нет крыши, ветер, а самое главное – поле далеко от трибун. Но народ ходил. Открытие стадиона состоялось в 1950 году, он был главной ареной Ленинграда. Кстати, его можно увидеть и в знаменитой кинокартине "Старик Хоттабыч". Стадион имени Кирова – это моя судьба
            .section__picture.mb-30.mb-lg-90(style="background-image: url(./img/article-5.jpg);")
              .section__picture-text
                p.text-white.font-weight-bold Я там и играл, и комментировал. Именно там "Зенит" в 1980 году впервые выиграл бронзу чемпионата СССР.
                p.text-white.font-weight-bold Помню, как там было холодно, а болельщик шел, чтобы посмотреть, как осенью Казаченок и Швецов буквально разрывали ереванский "Арарат" и тбилисское "Динамо".
        .row.mb-20.mb-lg-80.order-2.order-lg-1
          .col.lg-6.col-lgx-5.offset-lgx-1.col-xl-4.offset-xl-2
            p.p--lh.mb-20.mb-md-50 Там у меня был пробный репортаж. Когда умер Виктор Набутов, объявили конкурс. Участвовало более двухсот человек, а после отсева остались трое: Валерий Никитенко – актер, до сих пор работает в Театре комедии имени Акимова, Борис Гулин – журналист, и я. Нам давали возможность вести репортажи по десять минут. Не в эфир, а на запись. Потом комиссия отсматривала, слушала. И вот 1 ноября 1973 года очередной мой выход на 10 минут.
            +comment({
              text: 'Когда комментировал, сидел там в "чашечках", так мы называли комментаторские кабинки.'
            }).comment--colorblue.mb-20.mb-md-50.d-none.d-lg-block
            p.p--lh.mb-30.mb-lg-0 К счастью, на 10-й минуте матча "Зенит" – "Динамо" (Тбилиси) Зинченко открыл счет и вывел команду из Ленинграда вперед. Представьте: ноябрь, вокруг поля уже лежит снег, до ворот метров 35, мяч скользкий, и когда вратарь тбилиссцев Гогия не смог его поймать, я провел аналогию, сказав: "Надо же, мяч проскочил в ворота, как кусок мыла". Этот образ понравился председателю комиссии, и меня взяли. Так я начал работать в Доме Радио. У меня была ставка 140 рублей.
          .col-lg-6.order-1.order-lg-2
            .section__edgy.section__edgy--right
              img.img-fluid(src="./img/article-6.jpg", alt)
        .row.mb-20.mb-md-80
          .col-lg-6.order-2.order-lg-1
            .section__edgy.section__edgy--left
              img.img-fluid(src="./img/article-7.jpg", alt)
          .col-lg-6.col-lgx-5.col-xl-4.order-1.order-lg-2
            p.p--lh.mb-35 Последний матч на этом стадионе прошел в 2006 году, когда "Зенит" только-только возглавил Дик Адвокат. Играли с московским "Динамо", 0:0. А сейчас на стадионе "Зенита", который был воздвигнут на том же месте, можно комментировать совершенно в других условиях. Ведешь работу в гарнитуре, все очень удобно. Есть раздвижная крыша, позволяющая считать эту арену самой современной в мире, температурный режим, нет ветра, не тревожит дождь. 
            p.p--lh И здесь как раз пройдут матчи чемпионата Европы. Этот стадион для меня – намоленное место, как и "Петровский". Хотя когда я вел отсюда первый репортаж (играли с "Уралом"), мне было так неуютно! Открыли крышу, было холодно, дуло! Сейчас же все зависит от главного тренера Сергея Семака – открывать или нет. Вот всю прошлую весну играли при закрытой крыше. Кто-то говорит – на фарт.
    .bg-light.py-20.py-xl-30
      .container-fluid
        .row
          .col-sm-4
            +figure({
              img: 'figure-1.jpg',
              caption: 'Памятник Павлу I перед Большим дворцом в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-2.jpg',
              caption: 'Павильон-ротонда "Храм Дружбы" на территории Государственного музея-заповедника "Павловск"',
              author: 'Алексей Даничев/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-3.jpg',
              caption: 'Жилые комнаты Большого дворца в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
    .container-fluid
      .row
        .col-lgx-10.mx-auto
          +address
      .section.section--bordered.mb-90
        .row
          .col-md-5.offset-md-1.d-flex.align-items-center.section__bordered-content
            .row
              .col-lg-10
                h2.h2--big.text-gradient СТАДИОН ИМЕНИ ЛЕНИНА ("ПЕТРОВСКИЙ")
                p.p--sm.mt-40.mt-lg-100.pt-lg-20 Вид на стадион "Петровский" с высоты птичьего полета <br>Andrew Shiva/Wikipedia
          .col-md-6.d-flex
            img.img-fluid(src="./img/article-8.jpg", alt)
      .section.section--chess.mb-xl-30
        h3.text-gradient.text-center.mb-20.mb-sm-65 ЗНАКОВОЕ МЕСТО
        .row
          .col-12.mx-auto
            .section__row
              .section__left
                img.img-fluid(src="./img/article-9.jpg", alt)
              .section__right
                p Стадион имени Ленина, он же "Петровский", расположенный на Петровском острове Малой Невы, дорог сердцу многих жителей города. Ведь именно здесь "Зенит" играл домашние матчи в сезоне, который привел к победе в Кубке УЕФА в 2008 году. С разных сторон остров, на котором расположена арена, омывают Малая Нева и река Ждановка. Этот стадион сыграл огромную роль в моей судьбе. В 1968 году я провел очень удачный сезон за ленинградское "Динамо". Это была первая лига. У нас собралась хорошая команда, играли для СССР технично, нас даже называли "Сантос", и форма была почти как у сборной Бразилии – желтые футболки с синими трусами. И вот так получилось, что я забил два мяча львовским "Карпатам", которые через некоторое время выиграли Кубок СССР.
                p Представляете, какую команду мы обыграли? А я до этого матча еще не забивал, был скрытым нападающим. И вот на трибуне этого стадиона начальник КГБ Шумилов, который курировал команду "Динамо", спросил: "А кто это?" Про меня сказали, что я парень, который живет с женой в общежитии на стадионе. Можно сказать, в бараке. Комната, на всех туалет один и кухня. Так решился вопрос моей квартиры. Мне ее обещали и дали за футбол. Получил однокомнатную квартиру от "Динамо" на Проспекте Славы. Потом мне довелось проводить с этого стадиона репортажи уже в качестве комментатора. Обдуваемый всеми ветрами и отделенный от Васильевского острова Невой стадион сейчас уже не принимает игры "Зенита". 
            .section__row
              .section__left
                p Знаковое место – и петербургский СКК на проспекте Гагарина рядом со знаменитым Парком Победы. В 1984 году "Зенит" там впервые стал чемпионом СССР, а наши трансляции матчей из СКК гремели на всю страну. Главным режиссером был Эрнест Серебренников, а я – главным редактором. Мы начали показывать людей, которые сидят на трибунах: как в театре, под крышей, и при этом освещение приличное. 
                p Выхватывали крупно психологические планы, что в то время было редкостью. А ведь тогда еще запрещали показывать тренеров. Точнее – не рекомендовали. 
              .section__right
                img.img-fluid(src="./img/article-10.jpg", alt)
      +quote.mb-30.mb-md-60.mb-lg-85
    .bg-light.py-20.py-xl-30
      .container-fluid
        .row
          .col-sm-4
            +figure({
              img: 'figure-1.jpg',
              caption: 'Памятник Павлу I перед Большим дворцом в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-2.jpg',
              caption: 'Павильон-ротонда "Храм Дружбы" на территории Государственного музея-заповедника "Павловск"',
              author: 'Алексей Даничев/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-3.jpg',
              caption: 'Жилые комнаты Большого дворца в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
    .container-fluid
      .row
        .col-lgx-10.mx-auto
          +address
      .section.section--bordered.mb-30.mb-md-60.mb-lg-80
        .row
          .col-md-6.d-flex
            img.img-fluid(src="./img/article-11.jpg", alt)
          .col-md-4.offset-md-1.d-md-flex.align-items-center.section__bordered-content
            .row
              .col-lgx-10.offset-lgx-2.text-center.text-md-left
                h2.h2--big.text-gradient ДОМ РАДИО, МАНЕЖНАЯ ПЛОЩАДЬ
                p.p--sm.mt-40.mt-lg-100.pt-lg-20 Михайловский манеж (Зимний стадион) в Санкт-Петербурге <br>Alex 'Florstein' Fedorov/Wikipedia
      .section.mb-xl-80
        .row
          .col-lgx-8.mx-auto
            .row
              .col-sm-6.col-xl-3
                h3.text-gradient Одно из красивейших мест в центре Петербурга
              .col-sm-6.offset-xl-3
                p Речь о Манежной площади и Доме Радио, который расположен на Итальянской улице. Ансамбль площади составляют памятники архитектуры – Михайловский манеж, он же Зимний стадион, здания конюшен Михайловского замка, здание петербургского Благородного собрания (Дом Радио). 
                p В центре площади разбит сквер, а по его центру – фонтан. В Доме Радио в первые годы я сидел в кабинете, где работал Виктор Сергеевич Набутов. Там я проходил первую школу радиоработы. Она стала настоящим трамплином на пути к телевидению. 
            .row
              .col-12
                .section__hr
            .row
              .col-sm-6.order-2.order-sm-1
                p Я считаю, что ленинградское радио – это лучшая из возможных школ по языку, по произношению, по микропаузам. Я бы даже рекомендовал идти на телевидение через радио, потому что многие люди, которые сегодня говорят на телевидении, их не понять. Их не слышно. Они съедают слова, звуки. А артикуляционный аппарат должен работать хорошо. 
                p Там начиналась моя журналистская деятельность. Совсем рядом – Невский проспект, самый настоящий исторический центр нашего города. Надо отметить, что у ленинградского радио была очень сильная роль во время блокады, во время войны. В этом историческом доме Ольга Берггольц во время блокады читала свои знаменитые стихи. Поэтому это место овеяно трагичной романтикой. Там трудились люди, которые вызывали огромное уважение. Посчастливилось работать там и мне
              .col-sm-6.col-xl-4.order-1.order-sm-2
                h3.text-gradient лучшая из возможных школ по языку
    .bg-light.py-20.py-xl-30
      .container-fluid
        .row
          .col-sm-4
            +figure({
              img: 'figure-1.jpg',
              caption: 'Памятник Павлу I перед Большим дворцом в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-2.jpg',
              caption: 'Павильон-ротонда "Храм Дружбы" на территории Государственного музея-заповедника "Павловск"',
              author: 'Алексей Даничев/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-3.jpg',
              caption: 'Жилые комнаты Большого дворца в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
    .container-fluid
      .row
        .col-lgx-10.mx-auto
          +address
      .section.section--bordered.mb-30.mb-md-60.mb-lg-75
        .row
          .col-md-6.col-lg-5.offset-lg-1.d-flex.flex-column.justify-content-center.section__bordered-content
            h2.h2--big.text-gradient СТАДИОН "ДИНАМО", ПАМЯТНИК МУЖЕСТВУ ЛЕНИНГРАДА
            p.p--sm.mt-40.mt-lg-100.pt-lg-20 Товарищеский матч сборных правительств Петербурга и Ленинградской области в память о футбольном матче в блокадном Ленинграде <br>Пресс-служба Администрации губернатора Санкт-Петербурга
          .col-md-6.d-flex
            img.img-fluid(src="./img/article-12.jpg", alt)
      .section.mb-lg-80
        .row
          .col-lgx-8.mx-auto
            .row.mb-xl-80
              .col-sm-6.col-lgx-4
                h3.text-gradient Там был проведен блокадный матч
              .col-sm-6.offset-lgx-2
                p.mb-30 Я бы особенно хотел отметить стадион "Динамо", который расположен на Проспекте Динамо, где сейчас находится гребная база. Там был проведен блокадный матч. Это тоже намоленное место, о котором я не могу говорить со спокойным сердцем. 
                p Недавно этому матчу возвели памятник рядом с полем, где прошла та игра. Мы с Германом Зониным были в комиссии и обратили внимание на то, что изначально в композицию памятника вошли мускулистые, крепкие футболисты. 
            p.font-weight-bold Но такого ведь не было! Это было блокадное время. Зонин тогда рассказывал, что футболисты были настолько худыми, что держали друг друга руками, чтобы выйти на поле. И одержали самую главную победу. Мы обратили на это внимание, это учли и сделали футболистов более стройными, худыми. 
            p Такие они и стоят сейчас там, символизируя стойкость нашего народа. Этот стадион на Крестовском острове – это победа духа. Тогда было показано, что в Ленинграде, несмотря ни на что, продолжается жизнь. Ленинград жил в блокаду, поэтому на это место надо обязательно привозить людей и проводить экскурсии. Я бы так и сделал. 
    .bg-light.py-20.py-xl-30
      .container-fluid
        .row
          .col-sm-4
            +figure({
              img: 'figure-1.jpg',
              caption: 'Памятник Павлу I перед Большим дворцом в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-2.jpg',
              caption: 'Павильон-ротонда "Храм Дружбы" на территории Государственного музея-заповедника "Павловск"',
              author: 'Алексей Даничев/Sputnik'
            })
          .col-sm-4
            +figure({
              img: 'figure-3.jpg',
              caption: 'Жилые комнаты Большого дворца в Государственном музее-заповеднике "Павловск"',
              author: 'Сергей Субботин/Sputnik'
            })
    +footer
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
