doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body(style="background: transparent;")
    .container.py-50
      h2.mb-20.pb-10.border-bottom Список страниц
      .row
        .col-md-4
          ul.pl-0
            li(style="list-style: none;")
              a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
            li(style="list-style: none;")
              a.d-block.my-20(href="news.html", style="font-size: 20px;") News
            li(style="list-style: none;")
              a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
            li(style="list-style: none;")
              a.d-block.my-20(href="test.html", style="font-size: 20px;") Test
            li(style="list-style: none;")
              a.d-block.my-20(href="test-final.html", style="font-size: 20px;") Test Final
