extends ../templates/template.pug
block content
  .container-fluid.js-header-container
    +header({
      modifier: ''
    }).header--full
    .main
      .main__slider
        +front-slider
      .main__cards
        .cards-list
          .cards-list__wrapper
            +card({
              modifier: ['card--video', 'card--img'],
              title: 'Презентация ЕВРО 2020',
              img: 'card-img-1.svg',
              bg: 'purple-pattern.png'
            }).card--purple.card--tall.card--half(style="background-image: linear-gradient(90deg, #6B154D 0%, rgba(187, 124, 179, 0) 100%), url(./img/purple-pattern.png);")
            +card({
              title: 'Когда жертвуешь собой, те, кто рядом делают то же самое',
              dscr: 'Станислав Черчесов',
              bg: 'card-2.jpg'
            }).card--tall.card--half.card--quote
            +card({
              title: 'Сборная <br>шотландии',
              bg: 'card-3.jpg'
            }).card--xs(style="background-position: right top;")
            +card({
              title: 'Стадионы',
              bg: 'card-4.jpg'
            }).card--xs(style="background-position: center top;")
            +card({
              title: 'ЕВРО 2020 <br>В Вопросах и ответах',
              bg: 'card-5.jpg'
            }).card--xs.card--long-text(style="background-position: left top;")
            +card({
              title: 'Мой Петербург',
              bg: 'card-6.jpg'
            }).card--md.card--right-top
            +card({
              title: 'Расписание<br> матчей',
              bg: 'card-7.jpg'
            }).card--sm.text-right
            +card({
              modifier: ['card--video', 'card--img'],
              title: 'Презентация ЕВРО 2020',
              img: 'card-img-1.svg',
              bg: 'purple-pattern.png'
            }).card--purple.card--tall.card--half(style="background-image: linear-gradient(90deg, #6B154D 0%, rgba(187, 124, 179, 0) 100%), url(./img/purple-pattern.png);")
            +card({
              title: 'Когда жертвуешь собой, те, кто рядом делают то же самое',
              dscr: 'Станислав Черчесов',
              bg: 'card-2.jpg'
            }).card--tall.card--half.card--quote
            +card({
              title: 'Сборная <br>шотландии',
              bg: 'card-3.jpg'
            }).card--xs(style="background-position: right top;")
            +card({
              title: 'Стадионы',
              bg: 'card-4.jpg'
            }).card--xs(style="background-position: center top;")
            +card({
              title: 'ЕВРО 2020 <br>В Вопросах и ответах',
              bg: 'card-5.jpg'
            }).card--xs.card--long-text(style="background-position: left top;")
            +card({
              title: 'Мой Петербург',
              bg: 'card-6.jpg'
            }).card--md.card--right-top
            +card({
              title: 'Расписание<br> матчей',
              bg: 'card-7.jpg'
            }).card--sm.text-right
    +instagram.main__instagram
    +test
  +footer
