extends ../templates/template.pug
block content
  .container-fluid.js-header-container
    +header({
      modifier: ''
    }).header--full
    .row.mt-20.mt-lg-50.mt-md-30.mb-sm-100
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'строки три строки',
          dscr: 'Краткое описание материала также в несколько строк для наглядности и оповещения с троеточием'
        }).news--fading
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события или материала в одну или две строки три строки',
          dscr: 'Краткое описание материала также в несколько...'
        })
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события или материала в одну или две строки три строки'
        })
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события или материала в одну ',
          dscr: 'Краткое описание материала также в несколько строк для наглядности и оповещения...'
        })
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события',
          dscr: 'Краткое описание материала...'
        }).news--gradient
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события или материала в одну или две строки три строки',
          dscr: 'Краткое описание материала также в несколько строк для наглядности и оповещения ...'
        })
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Два слова для такого типа отображения'
        }).news--divided
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события или материала в одну или две  строки три строки',
          dscr: 'Краткое описание материала также в несколько строк длянаглядности и оповещения с троеточием...'
        })
      .col-sm-6.col-lgx-4.mb-35.d-flex
        +news({
          img: 'news-2',
          title: 'Заголовок для события или материала в одну или две  строки три строки'
        })
    //.text-center.mb-60.mt-50
      a.btn.btn-outline-secondary(href="#") Загрузить еще
  +footer
