extends ../templates/template.pug
block content
  .test.test--final
    +inst-manual#inst-manual
    a.test__close(href="index.html")
    .test__main-wrapper
      .test__body-wrapper.d-block
        .test__final.test__section
          .test__wrapper
            .test__card
              img.test__card-picture(src="./img/test.jpg", alt)
              //.test__card-picture-wrapper
                //.test__card-picture(style="background-image: url(./img/test.jpg)")
              .test__card-content
                .test__card-points.text-gradient-red 9/10
                p.test__card-dscr.mb-0 Золотой мяч мы дать не можем, но виртуальную хрустальную сову и шанс выиграть билеты на ЕВРО – да 
            .test__share
              span.test__share-header Выиграй билет на матч в Cанкт-Петербурге — поделись результатом!
              +socials({
                modifier: 'socials--test'
              }).socials--sm
            p.p--sm.text-white.text-center.font-weight-bold.mb-10.mt-20 Для участие в розыгрыше ваши аккаунты должны быть открытыми.
          .test__final-footer
              //p.p--sm.text-white.text-center.font-weight-bold Чтобы выиграть билеты на ЕВРО-2020, поделись своим результатом в социальных сетях 
                span.font-weight-normal и зарегистрируйся на билетном портале EURO2020.COM/TICKETS

