.logo {
  position: relative;
  z-index: 1;
  max-width: 170px;

  &__link {
  }

  &__img {
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(sm) {
      width: 67px;
    }
  }

  &__counter {
    padding-right: 15px;
    padding-left: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-left: 12px;
    }

    @include media-breakpoint-down(xs) {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__counter-number {
    margin-right: 20px;
    margin-bottom: 0;
    font-family: $font-family-secondary;
    font-size: 50px;
    color: #333;

    @include media-breakpoint-down(md) {
      margin-right: 7px;
      font-size: 36px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 5px;
    }
  }

  &__counter-dscr {
    padding-top: 5px;
    font-family: $font-family-secondary;
    font-size: 13px;
    line-height: 16px;
    color: #000;

    @include media-breakpoint-down(md) {
      font-size: 8px;
    }
  }

  &--counter {
    display: inline-flex;
    justify-content: space-between;
    background: $secondary;
    border-radius: 5px;
    border-top-left-radius: 25px;
  }
}
