.inst-manual {
  position: relative;
  padding: 0;
  display: none;
  width: 100%;
  max-width: 700px;
  min-height: 80vh;
  background: url(../img/inst-manual-bg.png) no-repeat center;
  background-size: cover;
  border-radius: 20px;

  @include media-breakpoint-down(sm) {
  }

  &__wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media screen and (max-width: 1399px) {
      padding: 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }

  &__ribbon {
    margin-top: auto;
    max-width: 100%;
    flex-shrink: 0;
  }

  &__header {
    font-family: $font-family-secondary;
    color: #fff;

    @media screen and (max-width: 1399px) {
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }

  &__content {
    margin-top: 20px;
    padding: 30px;
    flex-grow: 1;
    background: rgba(#49bac7, .6);
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
      padding: 0;
      background: transparent;
      shape-image-threshold: 10px;
    }
  }

  &__step {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & + & {
      margin-top: 15px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.3px;
    color: #fff;

    @media screen and (max-width: 1399px) {
      font-size: 16px;
    }
  }

  &__copy {
    margin-top: 15px;
    padding: 15px;
    max-width: 80%;
    background: rgba(#fff, .75);
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }

  &__copy-text {
    max-width: 90%;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    color: #000;
  }

  &__btn-download {
    margin-left: 20px;
    padding: 5px 40px;
    width: auto;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  &__btn-copy {
    margin-top: 10px;
    padding: 5px 10px;
    width: auto;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  &.fancybox-content {
    display: inline-flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
}
