mixin inst-manual(data)
  .inst-manual&attributes(attributes)
    .inst-manual__wrapper
      h2.inst-manual__header УЧАСТВУЙТЕ В РОЗЫГРЫШЕ БИЛЕТОВ НА ЕВРО 2020
      .inst-manual__content
        .inst-manual__step
          span.inst-manual__text 1. Cохраните изображение
          a.btn.btn-primary.inst-manual__btn-download(href="#") Скачать
        .inst-manual__step
          span.inst-manual__text 2. Опубликуйте картинку со своим результатом в вашем Инстаграме (профиль должен быть открытым) с этим текстом:
          .inst-manual__copy
            .inst-manual__copy-text Я прошел геотест @euro2020spb. Хотите выиграть билеты на чемпионат Европы? Переходите по ссылке в профиле @euro2020spb и участвуйте!
            a.btn.btn-primary.inst-manual__btn-copy(href="#") Скопировать текст
    img.inst-manual__ribbon(src="./img/inst-manual-ribbon.svg", alt)
        
