.comment {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  width: 292px;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #333333;
  background-image: linear-gradient(white, white), linear-gradient(to bottom, #bb7cb3, #75225a);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: double 1px transparent;
  border-radius: 10px;

  &--colorblue {
    padding-top: 30px;
    padding-bottom: 26px;
    width: 396px;
    line-height: 1.1;
    background-image: linear-gradient(white, white), linear-gradient(to bottom, #4cbdcf, #0a8396);

    @include media-breakpoint-only(lg) {
      width: 350px;
    }

    &:after {
      background: transparent url(../img/angle-blue.png) 0 0 no-repeat !important;
    }
  }

  &:after {
    position: absolute;
    bottom: -19px;
    left: 19px;
    display: block;
    width: 19px;
    height: 19px;
    content: '';
    background: transparent url(../img/angle-red.png) 0 0 no-repeat;
  }
}
