.map {
  width: 100%;
  height: 367px;

  @include media-breakpoint-down(lg) {
    height: 200px;
  }

  &:after {
    position: absolute;
    top: -14px;
    left: -277px;
    display: block;
    width: 410px;
    height: 432px;
    opacity: .4;
    content: '';
    background: url(../img/map-outer1.svg) no-repeat center transparent;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      content: none;
    }
  }

  [class*='ymaps-2'][class*='-ground-pane'] {
    filter: sepia(70%) hue-rotate(170deg) saturate(100%);
  }
}
