.quote {
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 44px;
  display: flex;
  width: 100%;
  max-width: 1155px;
  align-items: center;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }

  &__content {
    padding-right: 158px;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #828282;

    @include media-breakpoint-down(sm) {
      padding: 20px 0 0;
    }
  }

  &__author {

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      color: #333333;
    }
  }

  &__author-photo {
    margin-bottom: 33px;
    width: 249px;
    height: 249px;
    border-radius: 50%;
  }
}
