mixin quote(data)
  .quote&attributes(attributes)
    .quote__content Взять тренера Юрия Андреевича Морозова, который не сдерживал себя. Мы его показывали, его реакцию, а по губам тогда можно было многое прочесть, что это за слова! Это было невероятно. В конце концов поставили будочку для Морозова на стадионе имени Кирова, чтобы он там находился и говорил. Что касается СКК, то там можно было целые зимние чемпионаты проводить, по тем временам это было уникальное сооружение.
    .quote__author
      .quote__author-photo(style="background-image: url(./img/quote-author.jpg);")
      p.p--sm.text-center.mb-0 Главный тренер "Зенита" Юрий Морозов, 2010 год <br>ФК "Зенит"
