mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    ul.menu__content
      li.menu__item
        a.menu__link(href="#") Турнир
      li.menu__item
        a.menu__link(href="#") Сборная России
      li.menu__item
        a.menu__link(href="#") Город
      li.menu__item
        a.menu__link(href="#") Волонтеры
      li.menu__item
        a.menu__link(href="#") Организация
