﻿mixin intro(data)
  .intro&attributes(attributes)
    .intro__top
      .intro__border.intro__border--35.intro__border--blue.intro__border--left
      .intro__border.intro__border--65.intro__border--green.intro__border--right
    .intro__wrapper
      .intro__content
        h4.text-gradient Комментатор Геннадий Орлов
        p.intro__text Прежде всего, хочу отметить, что для меня чемпионат Европы – турнир знаковый. За плечами семь таких. Во Франции в 2016 году работал, до этого – в Польше. А в 1992 году я вел репортаж с финала между сборными Дании и Германии. 
        p.intro__text Датчане тогда неожиданно победили, хотя вообще не должны были принимать участие – их перед турниром в буквальном смысле на пляже собирали. Мне Евро очень близок. По насыщенности, по интенсивности игры и по качеству чемпионаты Европы даже выше, чем чемпионаты мира: проходных матчей меньше, команды приблизительно равны.
        p.p--sm Автор: Анатолий Зайончковский / "Комсомольская правда - Петербург"
      .intro__photo
        img.intro__photo-picture(src="./img/intro.jpg" alt="")
    .intro__bottom
      .intro__border.intro__border--65.intro__border--blue.intro__border--left
      .intro__border.intro__border--35.intro__border--green.intro__border--right
