.intro {

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &__wrapper {
    padding: 40px 0;
    display: flex;

    @include media-breakpoint-down(xs) {
      padding-bottom: 20px;
      flex-direction: column-reverse;
    }
  }

  &__content {

    @include media-breakpoint-only(sm) {
      margin-right: 20px;
      width: 50%;
    }
  }

  &__text {
    margin-bottom: 30px;
    padding-right: 75px;
    font-family: 'PF BeauSans Pro', sans-serif;
    line-height: 1.5;
    font-style: italic;
    color: #828282;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__photo {
    padding-top: 30px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }

    @include media-breakpoint-only(sm) {
      width: 50%;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
    }
  }

  &__photo-picture {
    width: 312px;
    height: auto;

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: auto;
    }
  }

  &__border {
    position: relative;
    overflow: hidden;
    width: calc(100% + 2px);
    height: 10px;
    opacity: .8;

    &:before {
      // position: relative;
      // display: block;
      // width: 100%;
      // height: 100%;
      // content: '';
      // background-color: #fff;

      position: absolute;
      display: block;
      width: 1000px;
      height: 20px;
      content: '';
      background-color: #fff;
    }

    &--65 {
      width: 65%;
    }

    &--35 {
      width: 35%;
    }

    &--blue {
      background: linear-gradient(180deg, #4bbdcf 0%, #007a8d 100%);
    }

    &--green {
      background: linear-gradient(180deg, #aecc53 0%, #6eab28 100%);
    }

    &--right {
      left: -2px;
      border-radius: 10px 0 0;

      &:before {
        top: 4px;
        left: 4px;
        border-radius: 7px 0 0;
      }
    }

    &--left {
      left: 2px;
      border-radius: 0 10px 0 0;

      &:before {
        top: 4px;
        right: 4px;
        border-radius: 0 7px 0 0;
      }
    }
  }

  &__top,
  &__bottom {
    display: flex;
  }

  &__bottom {

    .intro__border {
      transform: scaleY(-1);
    }
  }
}
