.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../img/header-bg.png) no-repeat bottom left;
  background-size: cover;

  @include media-breakpoint-down(lgx) {
    background-position: bottom left -40px;
  }

  @include media-breakpoint-down(sm) {
    background-position: bottom left -150px;
  }

  &__content {
    position: relative;
    //    padding: 22px 0;
    display: flex;
    height: 125px;
    justify-content: space-between;
    align-items: center;
    transition: $transition-base;

    @include media-breakpoint-down(sm) {
      padding: 10px 0;
      height: auto;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: row-reverse;
    }
  }

  &__logo {
    position: absolute;
    top: 21.5px;

    @include media-breakpoint-down(sm) {
      position: static !important;
    }
  }

  &__countdown {
    position: absolute;
    top: -3px;
    left: 241px;
    padding-top: 22px;
    padding-left: 95px;
    display: flex;
    width: 465px;
    height: 147px;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(lgx) {
      left: 198px;
    }

    @include media-breakpoint-down(lg) {
      left: 226px;
    }

    @include media-breakpoint-down(md) {
      left: 226px;
      padding-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      left: 0;
      padding-top: 5px;
      padding-left: 120px;
      width: auto;
    }

    &:before {
      position: absolute;
      right: calc(50% + 230px);
      bottom: 12px;
      display: block;
      width: 2000px;
      height: 8px;
      //      content: '';
      background: radial-gradient(
        343.78px at 50.01% 49.81%,
        #b9d160 0%,
        #b9d160 30.19%,
        #8cbf52 100%
      );
    }

    &:after {
      position: absolute;
      bottom: 12px;
      left: calc(50% - 100px);
      display: block;
      width: 2000px;
      height: 8px;
      //      content: '';
      background: radial-gradient(
        343.78px at 50.01% 49.81%,
        #b9d160 0%,
        #b9d160 30.19%,
        #8cbf52 100%
      );
    }
  }

  &__countdown-number {
    margin-bottom: 1px;
    font-family: $font-family-secondary;
    font-size: 30px;
    line-height: .8;
    color: #fff;

    @include media-breakpoint-down(sm) {
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 24px;
    }
  }

  &__countdown-dscr {
    padding-top: 5px;
    font-family: $font-family-secondary;
    font-size: 9px;
    line-height: 1;
    color: #fff;

    @include media-breakpoint-down(md) {
      font-size: 8px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 2px;
      font-size: 9px;
    }
  }

  &__langs-wrapper {
    margin-right: 55px;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
  }

  &__lang {
    font-family: $font-family-secondary;
    font-size: 20px;
    color: #ffffff;
    transition: all .3s ease;

    &:first-of-type {
      margin-right: 15px;
    }

    &:hover {
      color: $secondary;
    }
  }

  &__links-wrapper {
    margin-left: 36px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      padding-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  &__link {
    margin-right: 28px;
    font-family: $font-family-secondary;
    font-size: 20px;
    color: #ffffff;
    transition: all .3s ease;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      white-space: nowrap;
    }

    &:hover,
    &--active {
      color: #009cb4;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--full {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 -20px;
    padding-right: 50px;
    padding-left: 50px;
    width: calc(100% + 40px);

    @include media-breakpoint-down(lg) {
      margin: 0;
      width: 100%;
    }

    &.is-fixed {
      z-index: 3;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &--white {
    padding-top: 33px;
    padding-bottom: 20px;
    background: #ffffff;

    &.is-fixed {
      padding-bottom: 33px;
    }

    .header__link {
      color: #333333;

      &:hover,
      &--active {
        color: #009cb4;
      }
    }

    .header__lang {
      color: #333333;
    }

    .menu__btn {
      background: transparent url(../img/hamburger-dark.svg) 0 0 no-repeat;
    }
  }

  &--wide {

    .header__content {
      width: 100%;
    }
  }
}

.js-header-container {
  padding-top: 124px;

  @include media-breakpoint-down(md) {
    padding-top: 94px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 70px;
  }
}
