mixin header(data)
  .header#js-header&attributes(attributes)
    .header__content
      .header__left
        +logo.header__logo
        .header__countdown
          .header__countdown-number 295
          .header__countdown-dscr дней до старта
      .header__right
        //.header__langs-wrapper
          a.header__lang(href="#") EN
          a.header__lang.text-secondary(href="#") RU
        +menu
        +search
